/*====== Components styles ======*/

/*====== Payment component ======*/

.payment-modal {

  .payment-slide-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .price-list {
      height: 450px;
    }

    .payment-slide-title {
      display: flex;
      justify-content: space-between;
      padding: 20px 30px 10px 30px;
      border-bottom: 2px solid #dddddd;

      i {
        cursor: pointer;
        font-size: 25px;
        color: #5D92F4;
        margin-right: 30px;
      }

      span {
        color: #444444;
        font-family: din-next-w01-light, sans-serif;
        font-size: 30px;
        font-weight: 900;
      }
    }

    .select-type {
      display: flex;
      justify-content: center;

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 430px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 1px 1px 7px 1px #aaaaaa80;
        cursor: pointer;

        &:hover {
          box-shadow: 1px 1px 8px 1px #5C6BC080;
        }

        h2 {
          font-family: dinneuzeitgroteskltw01-_812426, sans-serif;
          font-size: 30px;
          margin-top: 20px;
          letter-spacing: 3px;
        }

        img {
          width: 70px;
          height: 70px;
          margin-top: 20px;
          margin-bottom: 30px;
        }

        p {
          font-family: din-next-w01-light, sans-serif;
          font-size: 20px;
          color: #2f2e2e;
          text-align: center;
        }
      }
    }

    .payment-result {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;

      i {
        font-size: 70px;
        color: green;
        margin-bottom: 30px;
        &.success {
          color: green;
        }
        &.fault {
          color: red;
        }
      }

      h2 {
        font-family: dinneuzeitgroteskltw01-_812426, sans-serif;
        font-size: 35px;
        margin-bottom: 25px;
      }

      p {
        font-family: din-next-w01-light, sans-serif;
        font-size: 18px;
        color: #2f2e2e;
        text-align: center;
        margin-bottom: 30px;
      }

      button {
        width: 150px;
      }
    }

    .plan-zoom-out {
      transform: scale(0.8);
      margin-top: -41px;
    }
  }
}

.site-order {
  &.row {
    margin: 0;
  }

  .row {
    margin: 0;
  }

  .order-title {
    padding: 20px 80px 10px 80px;
    margin-bottom: 20px;
    border-bottom: 2px solid #dddddd;

    span {
      color: #444444;
      font-family: din-next-w01-light, sans-serif;
      font-size: 30px;
      font-weight: 900;
    }
  }

  .payment-type {
    width: 100%;
    padding: 0;
    background-color: white;

    .payment-type-header {
      border: 1px solid #d9dbdd;

      i {
        font-size: 27px;
        color: #0D47A1;
      }
    }

    .payment-type-text {
      span {
        font-size: 15px;
        font-weight: 600;
        color: #242424;
      }
    }

    .payment-radio {
      padding: 5px 12px;
    }

    .payment-content {
      border: 1px solid #d9dbdd;
      border-top-width: 0;
      border-bottom-width: 0;
      border-radius: 0;
      background-color: #f4f4f4;
      padding: 35px 80px;

      input, .StripeElement {
        display: block;
        margin: 10px 0;
        padding: 10px 14px;
        font-size: 1em;
        font-family: 'Source Code Pro', monospace;
        box-shadow: rgba(50, 50, 93, 0.14902) 0 1px 3px, rgba(0, 0, 0, 0.0196078) 0 1px 0;
        outline: 0;
        background: white;
        border-radius: 2px;
        border-width: 1px;
      }

      .invalid {
        .StripeElement {
          border: 1px solid red;
        }
      }

      .payment-card-number {
        position: relative;

        i {
          position: absolute;
          top: 10px;
          right: 5px;
          font-size: 18px;
        }
      }

      .payment-card-list {
        text-align: center;
        margin-top: 25px;

        img {
          width: 40px;
          height: auto;
          margin: 0 5px;
        }
      }

      &.paypal {
        height: 290px;
        border-bottom-width: 1px;
        padding: 30px;

        p:nth-child(1) {
          font-family: Avenir, sans-serif;
          font-size: 16px;
          color: #242424;
        }

        p:nth-child(2) {
          font-family: Avenir, sans-serif;
          font-size: 16px;
          color: #676969;
        }
      }
    }
  }

  .order-info {
    background-color: #f4f4f4;
    padding: 20px 50px;

    .order-summery {
      font-family: din-next-w01-light, sans-serif;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: 3px;
      color: #242424;
      margin-bottom: 20px;
    }

    .order-info-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: din-next-w01-light, sans-serif;
      font-size: 16px;
      color: #242424;
      margin-top: 15px;

      span:nth-child(2) {
        float: right;
      }
    }

    .order-info-split {
      width: 100%;
      height: 1px;
      background-color: #ddd;
      margin: 20px 0;
    }

    .order-info-price {
      font-family: din-next-w01-light, sans-serif;
      font-size: 24px;
      font-weight: 900;
      color: #242424;
    }

    .order-result {
      color: #1565C0;
    }

    .coupon-input-container {
      input {
        border-color: #97876555;
        &:focus {
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.1rem #97876555;
        }
      }
    }

    .coupon-error {
      height: 15px;
      margin: 5px 0 0 3px;
      font-size: 12px;
    }

    .original-price {
      color: #6b6b6b;
      text-decoration: line-through;
      margin-right: 7px;
      font-style: italic;
      font-weight: 400;
      font-size: 23px;
    }

    .coupon-button-container {
      padding: 1px 0 1px 5px;
      button {
        border-radius: 2px;
        font-family: din-next-w01-light, sans-serif;
        font-size: 13px;
        font-weight: 700;
        color: white;
        letter-spacing: 3px;
        background-color: #978765;
        background-image: none;
      }
    }

    .buy-button {
      width: 100%;
      height: 45px;
      border-radius: 0;
      font-family: din-next-w01-light, sans-serif;
      font-size: 20px;
      font-weight: 900;
      margin-top: 25px;
      color: white;
      background-color: #2c2e2f;
      background-image: none;

      &.paypal-overlap {
        position: absolute;
        margin-top: 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
      }

      i {
        font-size: 25px;
        line-height: 33px;
        color: #08e408;
      }

      .paypal-button {
        text-align: center;
        padding-top: 5px;
      }
    }
  }
}

/*====== test set coupon component ======*/
.test-set-coupon-info {
  margin: 10px 0 0 0;

  span {
    text-align: right;
  }

  button {
    border-radius: 2px;
    font-family: din-next-w01-light, sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: white;
    letter-spacing: 3px;
    background-color: #978765;
    background-image: none;

    &:hover {
      background: #97876588;
    }
  }
}

.test-set-coupon-error {
    height: 15px;
    margin: 5px 0 0 3px;
    font-size: 12px;
}

.test-set-coupon-result {
  font-size: 22px;
  color: #43A047;
}

button.test-set-coupon-apply {
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 2px;
  font-family: din-next-w01-light, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;
  letter-spacing: 3px;
  background-color: #1E88E5;
  background-image: none;

  &:hover {
    background: #64B5F6;
  }
}

/*========= Responsive ========*/

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
  .site-order {
    .MuiListItemText-inset {
      padding-left: 0;
    }
    .payment-type {
      .payment-content {
        padding: 35px 10px;
        .StripeElement {
          margin-right: 0 !important;
        }
      }
    }
    .order-info {
      margin-top: 15px;
      padding: 20px 15px;
      .coupon-button-container {
        padding: 1px 0;
        margin-top: 10px;
      }
    }
  }
}