@font-face {
  font-family: "DINNeuzeitGroteskLTW01-_812426";
  src: url("../fonts/DINNeuzeitGroteskLTW01-_812426.eot?#iefix");
  src: url("../fonts/DINNeuzeitGroteskLTW01-_812426.eot?#iefix") format("eot"),
  url("../fonts/DINNeuzeitGroteskLTW01-_812426.woff2") format("woff2"),
  url("../fonts/DINNeuzeitGroteskLTW01-_812426.woff") format("woff"),
  url("../fonts/DINNeuzeitGroteskLTW01-_812426.ttf") format("truetype"),
  url("../fonts/DINNeuzeitGroteskLTW01-_812426.svg#76250d27-b353-4f3b-90c6-0ff635fabaab") format("svg");
}

@font-face {
  font-family: "DIN-Next-W01-Light";
  src: url("../fonts/DIN-Next-W01-Light.eot?#iefix");
  src: url("../fonts/DIN-Next-W01-Light.eot?#iefix") format("eot"),
  url("../fonts/DIN-Next-W01-Light.woff") format("woff"),
  url("../fonts/DIN-Next-W01-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Impact-W01-2010";
  src: url("../fonts/Impact-W01-2010.eot?#iefix");
  src: url("../fonts/Impact-W01-2010.eot?#iefix") format("eot"),
  url("../fonts/Impact-W01-2010.woff") format("woff"),
  url("../fonts/Impact-W01-2010.ttf") format("truetype");
}

@font-face {
  font-family: "Futura-LT-W01-Book";
  src: url("../fonts/Futura-LT-W01-Book.eot?#iefix");
  src: url("../fonts/Futura-LT-W01-Book.eot?#iefix") format("eot"),
  url("../fonts/Futura-LT-W01-Book.woff2") format("woff2"),
  url("../fonts/Futura-LT-W01-Book.woff") format("woff"),
  url("../fonts/Futura-LT-W01-Book.ttf") format("truetype"),
  url("../fonts/Futura-LT-W01-Book.svg#dc423cc1-bf86-415c-bc7d-ad7dde416a34") format("svg");
}

@font-face {
  font-family: "Brandon-Grot-W01-Light";
  src: url("../fonts/Brandon-Grot-W01-Light.eot?#iefix");
  src: url("../fonts/Brandon-Grot-W01-Light.eot?#iefix") format("eot"),
  url("../fonts/Brandon-Grot-W01-Light.woff2") format("woff2"),
  url("../fonts/Brandon-Grot-W01-Light.woff") format("woff"),
  url("../fonts/Brandon-Grot-W01-Light.ttf") format("truetype"),
  url("../fonts/Brandon-Grot-W01-Light.svg#47f089a6-c8ce-46fa-b98f-03b8c0619d8a") format("svg");
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.eot?#iefix");
  src: url("../fonts/Avenir.eot?#iefix") format("eot"),
  url("../fonts/Avenir.woff2") format("woff2"),
  url("../fonts/Avenir.woff") format("woff"),
  url("../fonts/Avenir.ttf") format("truetype"),
  url("../fonts/Avenir.svg#b0268c31-e450-4159-bfea-e0d20e2b5c0c") format("svg");
}

/*============ Site/home Style ===========*/
.site-home {
  width: 100%;
  margin: 0;

  .row {
    margin: 0;
  }

  .site-home-top {
    background-image: url("../img/site/home_background.jpg");
    background-repeat: no-repeat;
    background-position: -4em bottom;

    .main-title {
      color: black;
      font-size: 48px;
      font-weight: 400;
      font-family: dinneuzeitgroteskltw01-_812426, sans-serif;
    }

    .main-desc {
      color: black;
      font-size: 20px;
      font-weight: 400;
      font-family: DIN-Next-W01-Light, sans-serif;
    }

    .read-btn-container {
      margin: 0 auto;

      .read-btn {
        background-color: transparent;
        border: solid rgba(232, 232, 232, 1) 4px;
        border-radius: 0;
        box-shadow: none;
        margin: 70px 0;

        &:hover {
          border-color: rgba(190, 190, 190, 1);

          span {
            color: black;
          }
        }

        span {
          font-size: 15px;
          transition: color 0.4s ease 0s;
          color: #DEDEDE;
        }
      }
    }
  }

  .sub-title {
    font-family: dinneuzeitgroteskltw01-_812426, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
  }

  .sub-functions {
    font-family: DIN-Next-W01-Light, sans-serif;
    font-size: 19px;
    color: black;
    font-weight: bold;
    list-style-type: disc;
    padding-left: 1.3em;
    padding-right: 0;
    margin-left: 0.5em;
    line-height: normal;
    letter-spacing: normal;
  }

  .item-title {
    font-family: dinneuzeitgroteskltw01-_812426, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: black;
    letter-spacing: 0;
  }

  .item-desc {
    font-family: din-next-w01-light, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: black;
  }

  svg {
    margin-top: 20px;
  }
}

/*============ Site/News Style ===========*/
.site-news {
  .row {
    margin: 0;
  }

  .news-item {
    .img-container {
      text-align: right;
      padding-right: 20px;

      img {
        width: 240px;
        height: 146px;
        border-radius: 5px;
      }
    }

    .news-desc {
      padding: 10px;
      font-family: din-next-w01-light, sans-serif;
      font-size: 25px;
      font-weight: bold;
      color: #2f2e2e;

    }

    .news-time {
      font-family: din-next-w01-light, sans-serif;
      font-size: 17px;
      font-weight: 400;
      color: #292929;
    }

    .news-more {
      width: 100px;
      height: 25px;
      padding: 0;
      background-color: transparent;
      box-shadow: 0 4px 6px -6px #222;

      span {
        font-family: impact-w01-2010, sans-serif;
        font-size: 16px;
        color: black;

        &:hover {
          color: #777777
        }
      }
    }
  }
}

/*============ Site/News Content Style ===========*/
.site-news-content {
  .row {
    margin: 0;
  }

  .content-gallery {
    background-color: #333333;

    > div {
      margin: auto 0;
    }

    img {
      width: 680px;
      height: 500px;
      overflow: hidden;
    }
  }

  .content {
    background-color: white;
    box-shadow: 2px 2px 10px 2px gray;
    border-radius: 10px;
    margin: 5px;
    padding: 40px 20px 20px 20px;

    .content-title {
      font-family: din-next-w01-light, sans-serif;
      font-weight: bold;
      font-size: 25px;
      color: #2f2e2e;
      text-align: center;
    }

    .content-split {
      width: 100px;
      height: 1px;
      background-color: black;
      margin: 30px auto;
    }

    .content-desc {
      font-family: din-next-w01-light, sans-serif;
      font-weight: 400;
      font-size: 17px;
      color: #2f2e2e
    }
  }
}

/*============ Site/Platform Style ===========*/
.site-platform {
  .row {
    margin: 0;
  }

  .platform-title {
    font-family: dinneuzeitgroteskltw01-_812426, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #2f2e2e;
    padding-top: 90px;
  }

  .platform-info {
    span {
      font-family: din-next-w01-light, sans-serif;
      font-size: 22px;
      color: #2f2e2e;
    }

    ul {
      font-family: din-next-w01-light, sans-serif;
      color: #2f2e2e;
      padding-left: 1.3em;
      margin-left: 0.5em;
      margin-top: 2em;
      text-align: justify;

      li {
        font-size: 22px;
      }
    }
  }

  .platform-img {
    width: 100%;
    height: 729px;
    margin: 30px 30px 30px 70px;
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
      margin-left: -70%;
    }
  }

  .gallery {
    width: 60%;
    margin: 30px auto;
  }

  .platform-sub-title {
    text-align: center;
    margin: 50px 0 0 0;

    span {
      font-family: dinneuzeitgroteskltw01-_812426, sans-serif;
      font-size: 46px;
      font-stretch: 100%;
      font-weight: 700;
      letter-spacing: 0.2em;
      color: black;
    }
  }

  .desc-content-container {
    > div {
      width: 20%;
      padding: 0 10px;

      .desc-content-title {
        display: block;
        font-family: dinneuzeitgroteskltw01-_812426, sans-serif;
        font-size: 16px;
        font-weight: 700;
        color: #2f2e2e
      }

      .desc-content {
        display: block;
        font-family: din-next-w01-light, sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #2f2e2e;
      }
    }
  }
}

/*============ Site/About us Style ===========*/
.site-about-us {
  margin: 50px 100px;

  figure.img-wrapper {
    position: relative;
    overflow: hidden;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;

    * {
      -webkit-box-sizing: padding-box;
      box-sizing: padding-box;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }

    img {
      max-width: 100%;
      vertical-align: top;
    }

    .about-user-name {
      padding: 10px 18px;
      background-color: #274c61;

      span {
        font-family: futura-lt-w01-book, sans-serif;
        font-weight: 700;
        font-size: 15px;
        letter-spacing: 3px;
        color: white;
      }
    }

    figcaption {
      top: 50%;
      left: 20px;
      right: 20px;
      position: absolute;
      opacity: 0;
      z-index: 1;

      .about-desc {
        font-family: din-next-w01-light, sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: white;
      }

      .social-icons {
        margin-top: 100px;

        .rg-icon {
          width: 25px;
          height: 25px;
        }

        .linkedin-icon {
          color: white;
        }
      }
    }

    &:after {
      background-color: #2b6ca3cc;
      position: absolute;
      content: "";
      display: block;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -webkit-transform: rotateX(-90deg);
      transform: rotateX(-90deg);
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      opacity: 0;
    }

    &:hover figcaption,
    &.hover figcaption {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 1;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }

    &:hover:after,
    &.hover:after {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      opacity: 0.9;
    }
  }
}

/*============ Site/Contact us Style ===========*/
.site-contact {
  width: 80%;
  height: 600px;
  margin: 50px auto;
  background-image: url("../img/site/contact-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .row {
    margin: 0;
  }

  .contact-background {

    &:hover {
      .contact-address-container {
        visibility: hidden;
      }

      .contact-form, .social-icons {
        visibility: visible;
      }
    }

    width: 100%;
    height: 100%;
    background-color: #00000088;
    padding: 30px;

    .contact-info {
      grid-template-rows: 1fr 2fr;
      text-align: center;
      background-color: white;

      .contact-title {
        font-family: dinneuzeitgroteskltw01-_812426, sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: black;
        margin: auto;
      }

      .contact-content {
        position: relative;

        & > div {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }

    .contact-address-container {
      visibility: visible;
      padding: 0 70px 0 70px;

      .split-line {
        height: 1px;
        background-color: black;
        margin-bottom: 50px;
      }

      .contact-address {
        font-family: din-next-w01-light, sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: black;
      }

      .contact-touch-text {
        font-family: dinneuzeitgroteskltw01-_812426, sans-serif;
        font-size: 35px;
        font-weight: 700;
        color: black;
        padding-top: 20px;
      }
    }

    .contact-form {
      visibility: hidden;
      padding: 0 50px;

      input, textarea {
        border: 1px solid #66666688;
        color: black;
        font-family: brandon-grot-w01-light, sans-serif;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 12px;
        padding: 5px 10px;
      }

      textarea {
        height: 90px;
        resize: none;
      }

      .send-btn {
        font-family: brandon-grot-w01-light, sans-serif;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 2px;
        color: white;
        background-color: black;
        border-radius: 0;

        span {
          padding: 3px 15px;
        }
      }
    }

    .social-icons {
      visibility: hidden;
      margin: auto;
      padding-left: 20px;

      a > i {
        font-size: 50px;
        color: white;
        margin: 0 20px
      }
    }
  }
}

/*============ Site/pricing Style ===========*/
.rct-tooltip {
  width: 250px;
}

.site-pricing {
  padding: 20px 10px;

  .pricing-top {
    h2 {
      font-family: din-next-w01-light, sans-serif;
      font-weight: 400;
      font-size: 42px;
    }
  }
}

.plan-item {
  padding: 3.125rem;
  box-shadow: 1px 1px 7px 1px #aaaaaa80 !important;

  p {
    margin-bottom: 1.25rem; //20px;
  }

  .pricing-title {
    font-size: 1.875rem; //30px;
    margin-bottom: 1.25rem; //20px
    text-transform: capitalize;
  }

  .amount-title {
    font-weight: 900;
    font-size: 2.25rem; //36px;
  }

  .plan-credit {
    color: red;
    font-size: 15px;
  }

  .fixed-pricing {
    background-color: $block-bg;
    border-radius: $block-border-radius;
    box-shadow: $block-shadow;
    transition: $block-transition;
    margin-bottom: $block-margin-bottom;
    position: relative;

    .pricing-box {
      @include border(1px solid, $input-border-color, right);
    }
  }

  .pricing-body,
  .pricing-head {
    padding: 1.875rem 3.125rem; //30px 50px;
  }

  .plan-info {
    background-color: $gray-400;
    padding: 0.625rem 3.125rem; //10px 50px;
  }

  .plan-info-listing {
    @extend .price-detail;

    li {
      i {
        margin-right: 0.9375rem;
      }
    }
  }

  .price-detail {
    margin-bottom: 0; //35px;
    li {
      margin-bottom: 0.625rem; //10px;
      font-size: 0.875rem; //14px;
    }
  }

  .testimonial-wrapper {
    .media-body {
      p {
        font-style: italic;
        font-size: 1.125rem; //18px;
        margin-bottom: 1.25rem; //20px;
        line-height: 30px;
      }
    }

    .user-meta {
      span {
        color: $gray-700;
      }
    }
  }

  .faq-wrapper {
    .card-title {
      margin-bottom: 1.25rem; //20px
      font-size: 1rem; //16px;
    }

    .card-text {
      font-size: 0.875rem; //14px;
      color: $gray-700;
    }
  }

  .testimonial-slider {
    .slick-dots {
      text-align: left;
      bottom: -50px;
      left: 185px;
    }
  }
}
