
.questionnaire-wrapper {
  .questionnaire {
    margin: 20px 0 0 0;
    border-bottom: 1px solid #9E9E9E;

    &.error {
      border-bottom: 1px solid #F44336;
    }

    input {
      height: 40px;
      margin: 10px 0 1px 0;
    }
  }
}

.dot {
  width: 5px;
  display: inline-block;
  height: 5px;
  border-radius: 30px;
  vertical-align: middle;
}

.gauge-chart {
  width: 200px;
  height: 130px;
  margin: 0 auto 20px auto;
  background: white;
}

.gauge-color {
  div {
    display: inline-block;
    width: 25%;
    height: 22px;
    text-align: center;

    &:nth-child(1) {
      span {
        color: black;
      }

      background-color: #E3F2FD;
    }

    &:nth-child(2) {
      span {
        color: white
      }

      background-color: #64B5F6;
    }

    &:nth-child(3) {
      span {
        color: white
      }

      background-color: #1565C0;
    }

    &:nth-child(4) {
      span {
        color: white
      }

      background-color: #0D47A1;
    }
  }
}

.post-questionnaire-container {
  margin: 20px 0 0 0;


  .post-questionnaire {
    margin: 7px 0 0 0;

    > div {
      padding-left: 0;
    }

    .label-option4 {
      width: 90px;
    }
  }

  .sub-label {
    padding-left: 15px !important;
  }
}

.instruction-video {
  position: relative;
  cursor: pointer;
  img {
    width: 100%;
    border-radius: 15px;
  }
  p {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: #5D92F4;
  }
  i {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4.5vw;
    color: white;
  }
}