$toolbar-height: 80px;
$normal-colour: #9ccef9;
$active-colour: #20a5d6;

div.viewer {
  #toolbar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: $toolbar-height;
    background-color: black;

    #tools {
      position: absolute;
      left: 20px;
      top: 20px;

      .tool {
        display: inline-block;
        text-align: center;
        min-width: 30px;
        margin-right: 15px;
        cursor: pointer;

        svg {
          width: 21px;
          height: 21px;
          stroke: $normal-colour;
          fill: $normal-colour;
        }

        p {
          color: $normal-colour;
          font-size: 13px;
          text-align: center;
          margin: 0px 0px 0px 0px;
        }

        &.active {
          svg {
            stroke: $active-colour;
            fill: $active-colour;
          }

          p {
            color: $active-colour;
          }
        }
      }
    }

    .correct-result {
      position: absolute;
      top: 24px;
      left: 350px;
      border-radius: 20px;
      padding: 5px 20px;

      span {
        color: white;
        font-size: 16px;
      }

      &.correct {
        background-color: green;
      }

      &.wrong {
        background-color: #f44336;
      }
    }

    h1 {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 16px;
      font-weight: 600;
      line-height: $toolbar-height;
      height: $toolbar-height;
      margin: 0px;
    }

    nav {
      position: absolute;
      right: 20px;
      top: 25px;

      a {
        background-color: $normal-colour;
        text-decoration: none;
        color: black;

        &:visited {
          color: black;
        }

        &:active {
          color: black;
        }
      }
    }
  }

  #images {
    position: fixed;
    top: $toolbar-height;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-flow: row nowrap;

    .image {
      box-sizing: border-box;
      height: 100%;
      position: relative;
      border: 1px solid #00a4d9;
      width: 25%;

      .dicom {
        height: 100%;
        background-color: black;
      }

      .control-btn {
        position: absolute;
        top: 10px;
        left: 5px;

        a {
          margin-left: 5px;
          color: transparent;
          font-size: 14px;

          i {
            padding: 2px 3px;
            border-radius: 15.5px;
            color: #FFB300;

            &:hover {
              background-color: #FFB30033;
            }
          }
        }
      }

      .window, .zoom, .location {
        position: absolute;
        left: 10px;
        color: white;
        font-size: 14px;
      }

      .window {
        bottom: 10px;
      }

      .zoom {
        bottom: 27px;
      }

      .location {
        bottom: 44px;
      }

      .slice {

        position: absolute;
        right: 35px;
        bottom: 10px;
        color: white;
        font-size: 14px;
      }

      .invert {
        position: absolute;
        bottom: 10px;
        right: 18px;
      }

      .reset {
        position: absolute;
        bottom: 10px;
        right: 90px;
      }

      .side-bar {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 13px;
        display: flex;
        flex-direction: column;
        margin: 0 5px;

        .change-btn {
          display: flex;
          flex-direction: column;
          margin-left: -5px;

          i {
            color: white;
          }
        }

        .stack-scrollbar {
          display: flex;
          flex-direction: column;
          flex: 1;

          input {
            position: relative;
            top: 0;
            left: 12px;
            height: 12px;
            width: 500px;
            padding: 0;
            transform: rotate(90deg);
            transform-origin: top left;
            -webkit-appearance: none;
            background-color: rgba(0, 0, 0, 0);

            &::-webkit-slider-thumb {
              -webkit-appearance: none !important;
              background-color: #163239;
              border: none;
              border-radius: 57px;
              cursor: pointer;
              height: 12px;
              margin-top: -4px;
              width: 39px;
            }
          }
        }
      }

      .floating-menu {
        position: absolute;
        right: 25px;
        top: 7px;

        .floating-item-content::-webkit-scrollbar-track
        {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
          background-color: rgba(255,255,255,0.1);
          border-radius: 10px;
        }

        .floating-item-content::-webkit-scrollbar
        {
          width: 10px;
          background-color: transparent;
        }

        .floating-item-content::-webkit-scrollbar-thumb
        {
          border-radius: 10px;
          background-color: #FFF;
          background-image: -webkit-gradient(linear,
                  40% 0%,
                  75% 84%,
                  from(#555555),
                  to(#777777),
                  color-stop(.6,#777777))
        }
      }
    }
  }

  #cover {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);

    #mark-details {
      width: 320px;
      margin: 150px auto 0px auto;
      background-color: black;
      border: 1px solid $normal-colour;
      padding: 25px;
      border-radius: 5px;
      color: white;

      .rating {
        margin-bottom: 10px;
      }

      .lesion-type {
        margin-top: 5px;
      }

      .actions {
        margin-top: 20px;
        display: flex;
        flex-flow: row nowrap;

        > div {
          flex-grow: 1;
        }

        .left {
          text-align: left;
        }

        .right {
          text-align: right;
        }
      }
    }
  }
}
