.questionnaire-wrapper {
  margin: 30px 0;

  .attempt-stepper {
    .normal-stepper {
      overflow: auto;

      .right-line {
        position: absolute;
        top: 12px;
        left: calc(50% + 20px);
        right: -9px
      }

      .vertical-line {
        position: absolute;
        top: 22px;
        right: 0;
        bottom: 2rem;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.38);
      }
    }

    .post-stepper {
      position: relative;
      overflow-y: hidden;
      padding-right: 90px;

      .post-stepper-background {
        position: absolute;
        top: 3px;
        right: 5px;
        bottom: 3px;
        left: 5px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        background-color: #d0f1fd;
        border-radius: 7px;

        span {
          font-size: 14px;
          font-weight: 600;
          color: #516dc3;
        }
      }

      .left-line {
        position: absolute;
        top: 12px;
        left: 0;
        right: calc(50% + 20px)
      }

      .left-line1 {
        position: absolute;
        top: 22px;
        left: 0;
        width: 30px;
      }
    }

    .attempt-stepper-btn {
      .MuiStepLabel-active {
        font-weight: bold;
        color: #1565C0;
      }

      &:hover {
        .MuiStepLabel-alternativeLabel {
          font-weight: bold;
          color: #1565C0;
        }
      }
    }
  }

  .questionnaire {
    margin: 20px 0 0 0;
    border-bottom: 1px solid #9E9E9E;

    &.error {
      border-bottom: 1px solid #F44336;
    }

    input {
      height: 40px;
      margin: 10px 0 1px 0;
    }
  }
}

.attempt-container {
  margin-bottom: 10px;
  color: white;

  .attempt-stepper {
    margin-bottom: 20px;
    padding-top: 0;
    background-color: black;
    border-bottom: 1px solid #343435;

    .MuiStepLabel-label {
      color: white;

      &.MuiStepLabel-active {
        font-weight: 600;
      }
    }

    .normal-stepper {
      overflow: auto;
      background-color: black;

      .right-line {
        position: absolute;
        top: 12px;
        left: calc(50% + 20px);
        right: -9px
      }

      .vertical-line {
        position: absolute;
        top: 22px;
        right: 0;
        bottom: 2rem;
        width: 1px;
        background-color: white;
      }
    }

    .post-stepper {
      position: relative;
      overflow-y: hidden;
      padding-right: 90px;
      background-color: black;

      .post-stepper-background {
        position: absolute;
        top: 3px;
        right: 5px;
        bottom: 3px;
        left: 5px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        background-color: #333333;
        border-radius: 7px;

        span {
          font-size: 14px;
          font-weight: 600;
          color: #516dc3;
        }
      }

      .left-line {
        position: absolute;
        top: 12px;
        left: 0;
        right: calc(50% + 20px)
      }

      .left-line1 {
        position: absolute;
        top: 22px;
        left: 0;
        width: 30px;
      }
    }

    .attempt-stepper-btn {
      .MuiStepIcon-root:not(.MuiStepIcon-active):not(.MuiStepIcon-completed) {
        color: #505050;
      }

      .MuiStepLabel-active {
        font-weight: bold;
        color: #1565C0;
      }

      &:hover {
        .MuiStepLabel-alternativeLabel {
          font-weight: bold;
          color: #1565C0;
        }
      }
    }
  }

  .questionnaire {
    margin: 20px 0 0 0;
    border-bottom: 1px solid #9E9E9E;

    .MuiRadio-root, .MuiCheckbox-root, .MuiFormControlLabel-label {
      color: rgba(255, 255, 255, 0.9);

      &.Mui-disabled {
        color: rgba(255, 255, 255, 0.4);
      }
    }

    &.error {
      border-bottom: 1px solid #F44336;
    }

    input {
      height: 40px;
      margin: 10px 0 1px 0;
    }
  }

  .score-container {
    .score-data-container {
      margin: 5px 0;

      .normal-score-data {
        display: flex;
        flex-direction: column;
        margin-right: 30px;

        .score-circle-container {
          display: flex;
          justify-content: space-around;

          .score-circle {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            width: 200px;
            height: 200px;
            border-radius: 100px;
            border: 3px solid #0D47A1;
            padding: 20px;

            div {
              display: flex;
              justify-content: space-around;
              font-size: 18px;

              &.score-circle-title {
                justify-content: center;
                font-weight: bold;
                margin-bottom: 5px;
              }
            }
          }
        }

        .score-table {
          flex: 1;
          margin-top: 30px;
          max-height: 339px;
          padding: 17px;
          background-color: #262627;
          border-radius: 7px;
          overflow-y: auto;

          &::-webkit-scrollbar-track
          {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 10px;
            background-color: #525252;
          }

          &::-webkit-scrollbar
          {
            width: 12px;
            background-color: #525252;
            border-radius: 10px;
          }

          &::-webkit-scrollbar-thumb
          {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #949494;
          }

          .score-row {
            display: flex;
            justify-content: space-between;
            margin: 14px 0;
            padding: 2px 20px;
            border-bottom: 1px solid white;
            font-size: 19px;
          }
        }
      }

      .volpara-score-data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 30px 60px;
        border-radius: 7px;
        background-color: #343435;

        .score-title {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            margin-bottom: 2px;
            font-size: 15px;
            font-weight: 600;
          }
        }

        .score-value {
          font-size: 120px;
          font-weight: bold;

          span {
            font-size: 70px;
            font-weight: 500;
          }
        }

        .score-desc {
          text-align: center;
          font-size: 12px;
          color: #d0d0d0;
        }
      }

      .image-score-data {
        flex: 1;
        padding: 18px;
        background-color: #343435;
        border-radius: 7px;
        overflow-y: auto;
        color: #eeeeee;

        .quality-score-title {
          display: flex;
          justify-content: space-between;
          padding-bottom: 15px;
          font-size: 23px;
          font-weight: 600;
        }

        .quality-score-row {
          display: flex;
          justify-content: space-between;
          padding: 10px 0;
          font-size: 17px;
          border-top: 1px solid #888888;
        }
      }
    }

    .score-chart-container {
      display: flex;
      flex-direction: column;

      .score-chart {
        position: relative;
        padding: 20px;
        background-color: #262627;
        border-radius: 7px;
        margin: 5px 0;

        .score-chart-title {
          font-size: 15px;
          font-weight: bold;
          margin-bottom: 9px;
          select {
            display: inline;
            width: 150px;
            height: 27px;
            margin-left: 10px;
            padding: 3px 5px;
            color: white;
            background-color: #212121;
            border: 1px solid rgba(255, 255, 255, 0.23);
          }
        }

        .score-loading {
          position: absolute;
          left: 20px;
          bottom: 27px;
          right: 20px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000000cc;
        }
      }
    }

    .score-extra-container {
      display: flex;
      flex-direction: row;
      margin-top: 20px;

      .score-extra {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        margin: 10px;
        padding: 20px;
        background-color: #262627;

        .extra-title {
          font-size: 15px;
          font-weight: 600;
        }

        .extra-desc {
          font-size: 12px;
          color: #d0d0d0;
        }

        .extra-button-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          button {
            min-width: 110px;

            &.green-btn {
              background-color: #008a00 !important;
            }

            &.grey-btn {
              background-color: #5d5d5d !important;
            }
          }
        }
      }
    }
  }
}

.dot {
  width: 5px;
  display: inline-block;
  height: 5px;
  border-radius: 30px;
  vertical-align: middle;
}

.gauge-chart {
  width: 200px;
  height: 130px;
  margin: 0 auto 20px auto;
  background: #343434;
}

.gauge-color {
  div {
    display: inline-block;
    width: 25%;
    height: 22px;
    text-align: center;

    &:nth-child(1) {
      span {
        color: black;
      }

      background-color: #E3F2FD;
    }

    &:nth-child(2) {
      span {
        color: white
      }

      background-color: #64B5F6;
    }

    &:nth-child(3) {
      span {
        color: white
      }

      background-color: #1565C0;
    }

    &:nth-child(4) {
      span {
        color: white
      }

      background-color: #0D47A1;
    }
  }
}

.post-questionnaire-container {
  margin: 20px 0 0 0;


  .post-questionnaire {
    margin: 7px 0 0 0;

    > div {
      padding-left: 0;
    }

    .label-option4 {
      width: 90px;
    }
  }

  .MuiRadio-root, .MuiCheckbox-root, .MuiFormControlLabel-label {
    color: rgba(255, 255, 255, 0.9);

    &.Mui-disabled {
      color: rgba(255, 255, 255, 0.4);
    }
  }

  .MuiInput-input {
    height: 20px;
    margin-top: 0;
    padding: 6px 10px;
    color: white;
    background-color: #353535;

    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
      -webkit-text-fill-color: #fff !important;
    }

    &.Mui-disabled {
      background-color: #505050;
      cursor: not-allowed;
    }
  }

  .sub-label {
    padding-left: 15px !important;
  }
}

.test-list-container {
  .test-set-coupon {
    display: flex;
    justify-content: flex-end;
    margin: -20px 0 10px;

    button {

    }
  }

  .modality-tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 15px 10px 5px;

    p {
      font-size: 16px;
      margin-bottom: 10px;
    }

    img {
      width: auto;
      height: 60px;
      padding: 0 65px
    }

    button {
      margin-top: 12px;
      padding: 0 9px;
    }
  }

  .modality-desc-text {
    flex-wrap: wrap;
    padding: 10px !important;
    font-size: 13px;
    border: 1px solid #90CAF9;
    border-radius: 7px;
  }

  .learning-objective {
    margin-left: 12px;
    margin-top: 3px;
    font-size: 12px;
  }

  .test-list-desc-text {
    margin-top: 12px;
    font-size: 12px;
    color: grey;
  }

  .test-list-action-buttons {
    display: flex;
    justify-content: flex-end;

    button {
      min-width: 80px;
      max-height: 29px;
    }
  }
}

.instruction-video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 10px 0;

  img {
    width: 100%;
    max-width: 400px;
    border-radius: 15px;
  }

  p {
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;


    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 4px;
    color: #5D92F4;
  }

  i {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4.5vw;
    color: white;
  }
}

.complete-list-container {
  margin: 30px 0;
}

.sweetalert-container {
  padding: 20px 50px !important;

  h2 {
    font-size: 27px !important;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  .sweetalert-confirm-btn {
    margin-top: 15px;
    min-width: 80px;
    padding: 5px 15px !important;
    border-width: 0;
  }

  .sweetalert-cancel-btn {
    margin-top: 15px;
    padding: 5px 15px !important;
    border-width: 0;
  }
}

/*======= Responsive =======*/
@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
  .test-list-action-buttons {
    margin-bottom: 10px;
    justify-content: center !important;
  }

  .complete-list-container {
    margin: 0;
  }
  table.mobile-table {
    display: block;

    thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 1px solid #ccc;
    }

    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align: left;

      &::before {
        content: attr(data-title);
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
      }
    }
  }

  .test-list-container {
    .MuiTabs-scrollButtonsDesktop {
      display: inline-flex;
      width: 20px;
    }

    .test-set-coupon {
      margin: -4px 0 7px;
    }
  }

  .questionnaire-wrapper {
    margin: 0;
  }
}